<h1>Products#index</h1>

<% @products.each do |product| %>
  <ul>
    <li><p><%= product.name %></p></li>
    <li><p><%= product.description %></p></li>
    <li><p><%= product.formatted_price %></p></li>
  </ul><br>
<% end %>